@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(71,71,71,0.5);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    padding-bottom: 10vh;
    padding-left: 4vh;
    padding-right: 4vh;
}

ul {
    list-style: none;
}

li {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.7rem;
}

.imgClass {
    border-radius: 50%;
    width: 24vh;
    height: 24vh;
}

h2 {
    font-family: 'Comic Neue', cursive;
    font-size: 1.9rem;
}

h1 {
    font-family: 'Righteous', cursive;
}

p {
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
}

span {
    text-decoration: underline;

}